p {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 4px;
}

.video-stats {
    font-size: 14px;
    color: #606060;
    margin-top: 10px;
    margin-bottom: 20px;
}

.video-author {
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
}

.video-description {
    font-size: 14px;
    color: #606060;
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    color:white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop-link {
    cursor: pointer;
}

.shop-link:hover {
    text-decoration: underline;
}