@font-face {
    font-family: 'AvenirLTStd';
    src: url('/fonts/AvenirLTStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: Inconsolata;
    color: #153462;
}