.landingPageVideoContainer {
    display: flex;
    justify-content: center;
    
    position: relative;
}

.landingPageVideo {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
}

.helloText {
    font-family: AvenirLTStd;
    font-size: 100px;
    
    opacity: 80%;

    position: absolute;
    margin: 300px 50px;
}

.toolbar {
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;

    position: sticky;
    top: 0px;

    padding: 0px 0px 0px 0px;
    margin: 50vw 0px 0px 0px;

    background-color: rgb(102, 102, 35);
    
    height: 30px;
}