.page {
    height: 50000px;
    margin: 0px 0px 0px 0px;

    background-color: #2c3523;
}

.landingPageVideoContainer {
    display: flex;
    justify-content: center;
    
    margin-top: 40px;
    position: relative;
}

.landingPageVideo {
    max-width: 100%;
    max-height: 100%;
    width: 70vw;

    padding: 50px 0px 0px 0px;
    border-width: 40px;
    border: 10px solid #806517;

    pointer-events: none;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    z-index: 1;

    padding: 0px 5px 0px 0px;
    margin: 10px 0px 0px 0px;

    background-color: #1e355e;
}

.toolbarOption {
    padding: 6px 118px 6px 118px;

    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #1e355e;

    cursor: pointer;
    transition: all 0.3s;
}

.toolbarOption:hover {
    border-color: black;
    opacity: 0.8;
}

.toolbarOption:active {
    opacity: 0.5;
}

.toolbarText {
    font-size: 16px;
    color: #e7e9eb;
}

.aboutMe {
    display: flex;
    flex-direction: column;

    padding-left: 60px;
    padding-bottom: 10px;
    margin: 30px 30px 10px -1px;

    background-color: #404d33;
    border-radius: 2px;
}

.introWelcomeGrid {
    display: grid;
    justify-content: center;

    grid-template-columns: 6fr 4fr;
    grid-row: auto auto;
}

.introNameText {
    font-size: 72px;
    margin-top: 90px;
}

.introWelcome {
    font-size: 18px;
    opacity: 90%;

    margin-top: -70px;
    margin-bottom: 50px;
}

.introWelcomeText {
    
}

.introductionContainer {
    display: flex;
    justify-content: center;
}

.introductionImage {
    height: 300px;
    width: auto;

    margin: 20px 0px 0px 0px;
    
    border: 3px solid #5b6d48;
    border-radius: 50%;

    pointer-events: none;
}